@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

.box {
    width: 200px;
    height: 200px;
    display: block;
    background: red;

    &.two {
        background: yellow;
    }
}
