*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
node_modules
bower_components
.sass-cache
public/assets/css
public/assets/js
app/config/database.php
