<section class="about white">
    <div class="container">
        <div class="row">
            <div class="col-md-7 me">
                <h1>A bit about me</h1>
                <h3>Nick White : Front-end Developer : London, UK</h3>
                <p>
                    Graduate from University of Portsmouth, with a First Class (Hons) in Business Information Systems. Now working at Rockabox, which is a Content Media company which creates and distributes online content for brands, broadcasters, publishers and retailers using its groundbreaking Shutters™ video solution and Viewshare distribution platform.
                </p>
                <p>
                    My current job role is as a Developer, working mainly on Front-end development with JavaScript, Angular JS, jQuery, SASS, Compass, HTML5, CSS3 and Git. Using all or a collection of these different skills to create different formats such as Shutters and working on the distribution platform RBX.
                </p>
            </div>
            <div class="col-md-5">
                <div class="icon">
                    <i class="fa fa-code"></i>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="skills">
                            <li>JavaScript</li>
                            <li>Angular JS</li>
                            <li>jQuery</li>
                            <li>Twitter Bootstrap</li>
                            <li>SASS</li>
                            <li>LESS</li>
                            <li>HTML5</li>
                            <li>CSS3</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="skills">
                            <li>Git</li>
                            <li>NodeJS</li>
                            <li>Compass</li>
                            <li>Grunt</li>
                            <li>Bower</li>
                            <li>PHP</li>
                            <li>Laravel 4</li>
                            <li>CodeIgniter</li>
                            <li>MySQL</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <span ng-repeat="item in instagram">
                    <img ng-src="{{ item.thumbnail_url }}" class="instagram-image" width="150" height="150">
                </span>
            </div>
        </div>
    </div>
</section>
