<section class="home red" id="home">
    <header>
        <h1>Nick White</h1>
        <h2>Front-end Developer</h2>
        <p>
            Developer <a target="_blank" href="http://www.rockabox.com" title="Rockabox Ltd.">@rockabox</a> working with
            <a target="_blank" href="https://angularjs.org/" title="Angular JS">Angular JS</a>,
            <a target="_blank" href="http://www.underscorejs.org" title="Underscore">Underscore</a>, <a target="_blank" href="http://jquery.com/" title="jQuery">jQuery</a>,
            <a target="_blank" href="http://sass-lang.com/" title="Syntactically Awesome StyleSheets">SASS</a>,
            <a target="_blank" href="http://compass-style.org/" title="Compass CSS Framework">Compass</a>, <a target="_blank" href="http://nodejs.org/">Node JS</a>,
            <a target="_blank" href="http://getbootstrap.com/" title="Bootstrap 3">Bootstrap 3</a> &amp; <a target="_blank" href="http://www.bower.io" title="Bower Package Manager">Bower</a>.
        </p>
    </header>
</section>
