<section class="portfolio blue" id="portfolio">
    <div class="container">
        <div class="row" ng-show="portfolio">
            <div class="col-md-12">
                <h1>Portfolio</h1>
                <div class="row">
                    <div class="col-md-4" ng-repeat="project in projects">
                        <div class="work" ng-click="showPortfolio(project.id)">
                            <p>
                                {{ project.title }}
                            </p>
                            <div class="image" style="background-image: url({{ STATIC_URL }}{{ project.thumbnail }})"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="project">
            <div class="close">
                <a href="" class="fa fa-times" ng-click="project=false; portfolio=true"></a>
            </div>
            <h1>{{ showProject.title }}</h1>
            <img class="project-image" ng-src="{{ STATIC_URL }}{{ showProject.image }}" alt="Image of {{ showProject.title }}">

            <div class="link">
                <a ng-if="showProject.url !== ''" href="{{ showProject.url }}" class="site-link">Go to Site</a>
            </div>

            <div class="aboutProject">
                <p ng-bind-html="projectText"></p>
            </div>
        </div>
    </div>
</section>
